
@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Modern Antiqua;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
}

img {
    border-radius: 20px;
    max-width: 8em;
    max-height: 8em;
}

header {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: whitesmoke;
    align-items: center;
}

main {
    display: flex;
    flex: 1 15em;
    padding: 1em;
    background-color: bisque;
}

#home {
    border: solid gray;
}

li:hover {
    border: solid black;
    background-color: floralwhite;
}

#login-UI {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#password {
    display: flex;
    margin: 1em;
}

footer {
    padding: 1em;
    background-color: bisque;
}

button:hover {
    transform: translateY(-0.1em);
}

#deals {
    display: flex;
    flex-direction: column;
    flex: 1 15em;
    justify-content: center;
    align-items: center;
}

#game-shark {
    display:flex;
    flex-direction: column;
    align-items:start;
    background-color: snow;
    border-radius: 0.5em;
}

input {
    font-family: Modern Antiqua;
}

input:hover {
    background-color:aliceblue;
}


section:nth-child(1){
    flex:3;
}

seciton:nth-child(2){
    flex:1;
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
  }
}

