
@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

body {
    font-family: Modern Antiqua;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

header {
    
    display: flex;
    flex-direction: row;
}


