@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

body {
    font-family: Modern Antiqua;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
}
