@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: Modern Antiqua;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
}

img {
    border-radius: 20px;
    max-width: 8em;
    max-height: 8em;
}

#menu {
    border: solid gray;
}

li:hover {
    border: solid black;
    background-color: floralwhite;
}

header {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: whitesmoke;
    align-items: center;
}

main {
    display: flex;
    flex: 1 20em;
    flex-direction: row;
    background-color: bisque;
}



#leaderboard {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#matches {
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    justify-content: center;
}

th {
    border: firebrick solid;
}

td {
    border: gray solid;
    background-color: white;
}

button {
    margin-top: 1em;
}

table {
    margin-top: 1em;
}

button:hover {
    transform: translateY(-0.1em);
    background-color: aqua;
}

input:hover {
    background-color:aliceblue;
}

footer {
    background-color: bisque;
    padding: 1em;
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
  }
}
