@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Modern Antiqua;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
}

#logo {
    border-radius: 20px;
    max-width: 8em;
    max-height: 8em;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: whitesmoke;
}

#play {
    border: gray solid;
}

li:hover {
    background-color: floralwhite;
    border: black solid;
}

main {
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

#character-info:not(#websocket-textbox) {
    display: flex;
    flex-direction: row;
    flex: 0 10em;
}


#player1 {
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

#player2 {
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 1em;
}

button:hover:not(#resign) {
    transform: translateY(-0.8em) translateX(-0.3em);
    background-color: azure;
    box-shadow: 0.3em 0.8em 0em 0em gray;
}

#resign-button {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

#resign:hover {
    background-color: red;
    transform: translateY(-0.2em);
}

#websocket-textbox {
    display: flex;
    justify-content: center;
    margin: 3em;
}

footer {
    background-color: bisque;
    padding: 1em;
}

@media (max-width: 1100px) {
    #character-info:not(#websocket-textbox) {
        display: flex;
        flex-direction: column;
    }

}