.selectors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
}

.characters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.4em;
}

.character_select {
    display: flex;
    flex-direction: row;
}

.confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    justify-content: center;
}