

main {
    display: flex;
    flex-direction: column;
    background-color: bisque;
}


#character-info:not(#websocket-textbox) {
    display: flex;
    flex-direction: row;
    flex: 0 10em;
}


#player1 {
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

#player2 {
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 1em;
}

.play_button:hover:not(#resign) {
    transform: translateY(-0.8em) translateX(-0.3em);
    background-color: azure;
    box-shadow: 0.3em 0.8em 0em 0em gray;
}

#resign-button {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.player_graphic {
    max-width: 15em;
    max-height: 15em;
}

#resign:hover {
    background-color: red;
    transform: translateY(-0.2em);
}

#websocket-textbox {
    display: flex;
    justify-content: center;
    margin: 3em;
}

footer {
    background-color: bisque;
    padding: 1em;
}

@media (max-width: 1100px) {
    #character-info:not(#websocket-textbox) {
        display: flex;
        flex-direction: column;
    }
}